{% extends '::backend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                    {{ form_errors(form.label) }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_setting') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <ul class="nav nav-tabs pills">
                <li class="active">
                    <a data-toggle="tab" href="#tab-general">Ustawienia</a>
                </li>
            </ul>

            <div class="tab-content" style="margin-top: 15px;">
                <div id="tab-general" class="tab-pane active">
                    <div class="form-group{% if form.label.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.label, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.label, {'attr': {'class': 'form-control' }}) }}
                            {% if form.label.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Wybierz na mapie
                        </label>
                        <div class="col-sm-9">
                            <div id="map" style="width: 100%; height:300px;"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Lub wpisz współrzędne <br />(oddzielone przecinkiem)
                        </label>
                        <div class="col-sm-9">
                            {{ form_widget(form.value, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
                    {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this);
            var numFiles = input.get(0).files ? input.get(0).files.length : 1;
            var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.datepicker').datetimepicker({
                locale: 'pl'
            });

            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text');
                var log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });
        });
    </script>
<script type="text/javascript">
function initMap() {
    {% set LatLng = entity.value|split(',') %}
    {% set latitude = LatLng[0] %}
    {% set longitude = LatLng[1] %}
    
    var myLatLng = new google.maps.LatLng( {{latitude}}, {{longitude}} );
    var markerLatLng = myLatLng;

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        mapTypeControl: true,
        scrollwheel: true,
        zoom: 16,
        streetViewControl: false,
        mapTypeControl: false,
        zoomControl: true,

    });

    var marker = new google.maps.Marker({
        map: map,
        position: markerLatLng
    });

    google.maps.event.addListener(map, 'click', function (event) {
        marker.setPosition(event.latLng);
        document.getElementById("form_admin_setting_value").value = event.latLng.lat() +", "+ event.latLng.lng();
    });
    
    $('ul.nav-tabs').on('shown.bs.tab', function (e) {
      // Trigger map resize when tab is shown
        google.maps.event.trigger(map, "resize");
        map.setCenter(new google.maps.LatLng( {{ latitude }}, {{ longitude }}));
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBfPsmLykq60hk6eS_etC-_Uh-X7qHe5Y&callback=initMap" async defer></script>
{% endblock %}