    <div class="content">
    <img class="image" src="{{ entity.getThumbWebPath('detail') }}" title="{{ entity.title }}" alt="{{ entity.title }}">
        <div class="section-title"><span>{{ entity.title }}</span>
            {% if app.request.get('offerListRoom') is defined and app.request.get('offerListRoom') is not null %}
                <div class="roomOffer">
                    {{ app.request.get('offerListRoom')|nl2br|raw }}
                </div>
            {% endif %}
            {% if app.request.get('offerListAbout') is defined and app.request.get('offerListAbout') is not null %}
                <div class="aboutOffer tablet">
                    {{ app.request.get('offerListAbout')|nl2br|raw }}
                </div>
            {% endif %}
        </div>
        <div class="section-title-shadow">{{ entity.title }}</div>
        <div class="section-content">{{ entity.content|raw }}</div>
    </div>
    {% if app.request.get('offerListAbout') is defined and app.request.get('offerListAbout') is not null %}
        <div class="aboutOffer desktop"
            data-0="transform:translate3d(0px, 0%, 0px)" 
            data-900="transform:translate3d(0px, 120%, 0px)">
            {{ app.request.get('offerListAbout')|nl2br|raw }}
        </div>
    {% endif %}
