<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}"/>
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/front/css/jquery.bxslider.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/front/css/qtip.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/front/lightgallery/css/lightgallery.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/front/css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/front/css/editor.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes&amp;subset=latin-ext" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/front/images/favicon.png') }}"/>
</head>
<body>
{% set menuTop = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_top'}) %}
{% set menuBottom = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_bottom'}) %}
{% set currentRoute = app.request.attributes.get('_route') %}

<header id="header">
    <div class="fixed-header">
        <div class="container">
            <a class="logo" href="{{ path('ls_core_homepage') }}"><img src="{{ asset('bundles/lscore/front/images/logo.png') }}" alt="{{ cms_config.get('seo_title', '') }}"></a>
            <div class="mobile-menu-btn"></div>
            <nav class="navbar navbar-default" role="navigation">
                {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
            </nav>
        </div>
    </div>
</header>

<div class="menu-mobile">
    <div class="content">
        <div class="menu-container">
            <div class="hide-menu"></div>
            {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
        </div>
    </div>
</div>        
        
<div id="index">
    {% block content %}{% endblock %}
</div>

<footer>
    <div class="container">
        <div class="copy">{{ cms_config.get('copyright', '') }}</div>
        <a href="#header" class="footer-nav">Prowadź do góry</a>
        <div class="project">Projekt i realizacja: <a target='_blank' href='http://lemonadestudio.pl/' title='Lemonade Studio'><img src="{{ asset('bundles/lscore/front/images/lemo.png') }}" alt="Lemonade Studio"></a></div>
    </div>
</footer>    
    
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/jquery.bxslider.min.js') }}" type="text/javascript"></script>
    
    <!-- lightgallery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="{{ asset('bundles/lscore/front/lightgallery/js/lightgallery.min.js') }}"></script>
    <!-- lightgallery plugins -->
    <script src="{{ asset('bundles/lscore/front/lightgallery/js/lg-thumbnail.min.js') }}"></script>
    <script src="{{ asset('bundles/lscore/front/lightgallery/js/lg-fullscreen.min.js') }}"></script>
    <script src="{{ asset('bundles/lscore/front/lightgallery/js/lg-autoplay.min.js') }}"></script>
    <script src="{{ asset('bundles/lscore/front/lightgallery/js/lg-zoom.min.js') }}"></script>
    <script src="{{ asset('bundles/lscore/front/js/skrollr.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/qtip.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/validate.js') }}" type="text/javascript"></script>
{% endblock %}

</body>
</html>
