{% for photo in gallery.photos %}
    <a class="photo" href="{{ photo.getPhotoWebPath() }}">
            <img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" alt="" />
    </a>
{% endfor %}
