<div class="container">  
    <div class="section-title">Galeria</div>
    <div class="gallery-container"
         data-anchor-target=".gallery-container"
         data-bottom-top="transform:translate3d(0px, 10%, 0px)"
         data-top-bottom="transform:translate3d(0px, -10%, 0px)"
         >
        {% for gallery in entities %}
            <div class="item">
                {% for photo in gallery.photos %}
                    <a href="{{ photo.getPhotoWebPath() }}">
                        <img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" />
                        <div class="title">{{ gallery.title }}</div>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>