<div class="container">
    <h2 class="section-title">Wydarzenia</h2>
    <div class="news-container">
        {% for post in entities %}
            <div class="item">
                {% if post.gallery is not empty %}
                    <div class="news-gallery-container">
                    {% for photo in post.gallery.photos %}
                        <a href="{{ photo.getPhotoWebPath() }}" class="news-gallery">
                            <img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" />
                            Galeria
                        </a>
                    {% endfor %}
                    </div>
                {% endif %}
                <img src="{{ post.getThumbWebPath('detail') }}?{{ random(10000) }}" alt="{{ post.title }}">
                <h3 class="title">{{ post.title }}</h3>
                <div class="content">{{ post.content|raw }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="list-ajax-loader"></div>
    <div onclick="loadNews('{{allow}}', '{{ path('ls_news_ajax') }}')" class="more">Zobacz pozostałe wydarzenia</div>
</div>
