<div class="container">
    <ul class="bxslider">
        {% for photo in entities %}
            <li>
                <h2 class="slider-title section-title">{{photo.title|truncate(25) }}</h2>
                <div class="slider-img">
                    <img src="{{ photo.getThumbWebPath('full') }}?{{ random(10000) }}" alt=""/>
                    <a href="#o-nas" class="navigate-mouse">&nbsp;</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
