<div class="container">
    <div class="section-title">Partnerzy</div>
    <ul class="partners-img">
        {% for partner in entities %}
            <li>
                {% if partner.link is not null %}
                    <a class="item" href="http://{{ partner.link }}" target="_blank">
                        <img src="{{ partner.getPhotoWebPath() }}?{{ random(10000) }}">
                        <span class="title">{{ partner.title }}</span>
                        <span class="link">{{ partner.link }}</span>
                    </a>
                {% else %}
                    <div class="item">    
                        <img src="{{ partner.getPhotoWebPath() }}?{{ random(10000) }}">
                        <span class="title">{{ partner.title }}</span>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>