{% extends '::frontend.html.twig' %}

{% block content %}  
    <section 
        data-0="transform:translate3d(0px, 0%, 0px)" 
        data-1000="transform:translate3d(0px, 20%, 0px)"
        id="slider">
        {{ render(controller('LsSliderBundle:Front:section')) }}
    </section>
    
    <section id="o-nas" class="about-section">
        <div class="container">
            <div class="section-bg"></div>
            <div class="type1 first"
                data-900="transform:translate3d(0px, 0%, 0px)"
                data-2000="transform:translate3d(0px, -30%, 0px)">
                {{ render(controller('LsSectionBundle:Front:section', {'id': 1, 'offerListAbout': cms_config.get('about_offer_list', '')})) }}
            </div>
            <div class="type2"
                data-900="transform:translate3d(0px, 0%, 0px)"
                data-2000="transform:translate3d(0px, -30%, 0px)">
                {{ render(controller('LsSectionBundle:Front:section', {'id': 2, 'offerListRoom': cms_config.get('room_offer_list', '')})) }}
            </div>
            <div class="type1"
                data-900="transform:translate3d(0px, 0%, 0px)"
                data-2000="transform:translate3d(0px, -30%, 0px)">
                {{ render(controller('LsSectionBundle:Front:section', {'id': 3})) }}
            </div>
        </div>
    </section>
    
    <section id="galeria" class="gallery">
        {{ render(controller('LsGalleryBundle:Front:section')) }}
    </section>
    
    <section id="wydarzenia" class="news">
        {{ render(controller('LsNewsBundle:Front:section')) }}
    </section>
    
    <section id="partnerzy" class="partners">
        {{ render(controller('LsPartnersBundle:Front:section')) }}
    </section>
    
    <section id="kontakt" class="contact">
        <div class="container">
            <div class="section-bg"
                data-3900="transform:translate3d(0px, 5%, 0px)"
                data-4600="transform:translate3d(0px, -5%, 0px)"></div>
            {{ render(controller('LsContactBundle:Front:section', {'id': 1})) }}
        </div>
    </section>
    
{% endblock %}