{% extends '::backend.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var folder = '{{ upload_folder }}';

        folder = folder.replace(/\\/g, '/');

        $(document).ready(function () {
            $('#multiuploader').fileupload({
                singleFileUploads: false,
                sequentialUploads: true,
                dataType: 'json',
                formData: {
                    min_width: {{ size.width }},
                    min_height: {{ size.height }},
                    custom_dir: folder + '/'
                },
                done: function (e, data) {
                    var files = [];
                    var error = '';

                    $.each(data.result.files, function (index, file) {
                        if (typeof (file.error) !== 'undefined') {
                            if (error.length > 0) {
                                error += '\n';
                            }
                            error += file.name + ': ' + file.error;
                        } else {
                            files.push(file.name);
                        }
                    });


                    if (error.length > 0) {
                        alert(error);
                    } else {
                        $.ajax({
                            type: 'post',
                            url: '{{ path('ls_admin_slider_photo_add_many') }}',
                            data: {
                                'files': files
                            },
                            success: function (response) {
                                if (response === 'OK') {
                                    window.location.pathname = '{{ path('ls_admin_slider_photo') }}';
                                }
                            }
                        });
                    }
                }
            });

            $(".slider-list").sortable({
                tolerance: 'pointer',
                revert: 'invalid',
                forceHelperSize: true,
                placeholder: 'placeholder pull-left',
                start: function (e, ui) {
                    var id = $('.slider-list').find('.item').first().attr('id');
                    var element = document.getElementById(id);
                    var width = element.getBoundingClientRect().width - 33;
                    var height = element.getBoundingClientRect().height - 2;
                    ui.placeholder.width(width);
                    ui.placeholder.height(height);
                },
                stop: function (e, ui) {
                    var items = JSON.stringify($(".slider-list").sortable("toArray"));
                    $.ajax({
                        type: 'post',
                        url: '{{ path('ls_admin_slider_photo_update_arrangement') }}',
                        data: {
                            'items': items
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <div class="btn-group" role="group" aria-label="...">
                <div class="fileinput-button btn btn-default">
                    <input id="multiuploader" type="file" name="files[]" data-url="{{ asset('bundles/lscore/common/fileupload-9.12.3/server/php/index.php') }}" multiple />
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Dodaj wiele</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="text-success text-center">Aby zmienić kolejność zdjęć przeciągnij i upuść.</p>
            {% if slider|length > 0 %}
                <form action="{{ path('ls_admin_slider_photo_batch') }}" method="post">
                    <div class="panel panel-default">
                        <div class="panel-body slider-list">
                            {% for entity in slider %}
                                <div id="item-{{ entity.id }}" class="item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="thumbnail">
                                        <div class="photo">
                                            <img src="{{ entity.getThumbWebPath('full') }}?{{ random(10000) }}" alt="..." class="img-responsive" />
                                        </div>
                                        <div class="caption">
                                            <p class="text-center">
                                                <input type="checkbox" class="ids" name="ids[]" value="{{ entity.id }}">
                                            </p>

                                            <p class="text-center">
                                                <a href="{{ path('ls_admin_slider_photo_edit', {'id': entity.id}) }}" class="btn btn-default" role="button">Edytuj</a>
                                                <a href="#" data-href="{{ path('ls_admin_slider_photo_delete', {'id': entity.id}) }}" class="btn btn-danger btn-delete" role="button" data-toggle="modal" data-target="#confirm-delete">Usuń</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="panel-footer">
                            <div class="form-inline">
                                <span>Zaznaczone</span>
                                <select class="form-control" name="action">
                                    <option value="delete">Usuń</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Ok</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% else %}
                <h4 class="text-center">Brak elementów w bazie</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4>Usuwanie zdjęcia</h4></div>
                <div class="modal-body">Czy napewno chcesz usunąć to zdjęcie?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <a href="#" class="btn btn-danger btn-ok-delete">Usuń</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
