@font-face {
  font-family: 'Aller';
  src: url("../fonts/Aller-Regular.eot");
  src: url("../fonts/Aller-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller-Regular.woff") format("woff"), url("../fonts/Aller-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Aller Bold';
  src: url("../fonts/Aller-Bold.eot");
  src: url("../fonts/Aller-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller-Bold.woff") format("woff"), url("../fonts/Aller-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
p {
  line-height: 1.82em;
  margin: 0px; }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    p {
      line-height: 1.9em;
      margin: 0px; } }
  @media screen and (max-width: 787px) {
    p {
      margin: 0;
      line-height: 1.82em; } }

.editor p,
#index .container p {
  font-family: 'Aller';
  font-weight: normal;
  font-size: 16px;
  color: #333333; }
  @media screen and (max-width: 787px) {
    .editor p,
    #index .container p {
      line-height: 1.9em; } }

.editor .bold,
#index .container .bold {
  font-family: 'Aller Bold';
  font-weight: normal;
  font-size: 18px;
  color: #333333; }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    .editor .bold,
    #index .container .bold {
      line-height: 1.68em;
      margin: 0px 0 2px;
      display: block; } }
  @media screen and (max-width: 787px) {
    .editor .bold,
    #index .container .bold {
      line-height: 1.7em; } }

#index .news p {
  font-size: 14px;
  line-height: 1.72em; }

/*# sourceMappingURL=editor.css.map */
