@import "sass/variables";
@import "sass/mixins";

@font-face {
	font-family: 'Aller';
	src: url('../fonts/Aller-Regular.eot');
	src: url('../fonts/Aller-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Aller-Regular.woff') format('woff'),
		url('../fonts/Aller-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aller Bold';
	src: url('../fonts/Aller-Bold.eot');
	src: url('../fonts/Aller-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Aller-Bold.woff') format('woff'),
		url('../fonts/Aller-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
     font-family: 'Aller';
     font-weight: normal;
     font-size: 14px;
     color: $textColor;
     height: auto !important;
}

h1,h2,h3,h4 {
    padding: 0;
    margin: 0;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    @include clearfix();
    
    @include breakpoint(tablet) {
        width: 768px;
    }
    
    @include breakpoint(mobile) {
        width: 320px;
        padding: 0 0px;
    }
}

.desktop {
    display: block;
    
    @include breakpoint(tablet) {
        display: none;
    }
    @include breakpoint(mobile) {
        display: none;
    }
}
.tablet {
    display: none;
    
    @include breakpoint(tablet) {
        display: block;
    }
    @include breakpoint(mobile) {
        display: none;
    }
}

#index .container .green-color {
    color: #3c763d;
}
#index .container .red-color {
    color: #d9534f;
}

header {
    width: 100%;
    height: 118px;
    float: left;
    background: white;
    transition: all 0.3s;
    
    .fixed-header {
        width: 100%;
        height: 118px;
        float: left;
        padding-top: 27px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background: white;
        transition: all 0.3s;
        
        &.shadow {
            height: 100px;
            padding-top: 16px;
            
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
            
            .logo {
                width: 120px;
                margin-top: 6px;
            }
        }
    }
    
    .logo {
        float: left;
        width: 140px;
        transition: all 0.3s;
        
        img {
            width: 100%;
            float: left;
        }
        
        @include breakpoint(tablet) {
            margin-left: 15px;
        }
        
        @include breakpoint(mobile) {
            margin-left: 10px;
        }
    }
    
    .mobile-menu-btn {
        float: right;
        width: 40px;
        height: 22px;
        margin-top: 12px;
        background: url('../images/mobile-menu.png') no-repeat;
        display: none;

        &:hover {
            cursor: pointer; 
            cursor: hand;
        }

        @include breakpoint(tablet, mobile) {
            display: block;
        }
        @include breakpoint(tablet) {
            margin-top: 21px;
            margin-right: 15px;
        }
        @include breakpoint(mobile) {
            margin-top: 20px;
            margin-right: 10px;
        }
    }
    
    .navbar-default {
        background: transparent;
        background-image: none;
        box-shadow: none;
        border: none;
        border-right: none;
        float: right;
        margin-top: 11px;
        
        @include breakpoint(tablet, mobile) {
            display: none;
        }
        
        .navbar-nav {
            li {
                a {
                    color: $textColor;
                    font-size: 14px;
                    padding: 10px 34px;
                    background-color: transparent;
                    background: transparent;
                    background-image: none;
                    box-shadow: none;
                    border: none;
                    border-right: none;
                    font-family: 'Aller Bold';
                    
                    &.current {
                        color: $orange;
                    }
                    
                    &:hover {
                        background-color: transparent;
                        background: transparent;
                        background-image: none;
                        box-shadow: none;
                        border: none;
                        border-right: none;
                        color: $orange;
                    }
                }
                
                &.last {
                    a {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

#index {
    width: 100%;
    overflow-x: hidden;
}

.section-title {
    font-family: 'Great Vibes', cursive;
    font-size: 90px;
    color: #7b674d;
    line-height: 1.07em;
    position: relative;
    z-index: 1;
    
    @include breakpoint(mobile) {
        font-size: 72px;
    }
}

#slider {
    width: 100%;
    float: left;
    @include clearfix();
    
    .slider-title {
        float: left;
        font-size: 130px;
        width: 480px;
        margin-top: 98px;
        
        @include breakpoint(tablet) {
            font-size: 100px;
            width: 360px;
            margin-top: 72px;
            margin-left: 15px;
        }
        
        @include breakpoint(mobile) {
            font-size: 90px;
            width: 320px;
            margin: 0 auto;
            margin-top: 50px;
            color: white;
            position: absolute;
            left: 0;
            right: 0;
        }
    }
    
    .bx-wrapper {
        height: 795px;
        max-height: 795px;
        width: 1391px !important;
        
        @include breakpoint(tablet) {
            height: 509px !important;;
        }
        
        @include breakpoint(mobile) {
            width: 790px !important;
            height: 370px !important;
            max-height: 370px;
            left: -225px;
        }
        
        .bx-viewport {
            height: 795px !important;
            max-height: 795px;
            width: 1391px !important;
            
            @include breakpoint(tablet) {
                height: 509px !important;;
            }
            
            @include breakpoint(mobile) {
                width: 790px !important;
                height: 370px !important;
                max-height: 370px;
            }
        }
    }
    
    .slider-img {
        position: absolute;
        top: 0;
        left: 510px;
        width: 880px;
        height: 794px;
        
        &:before {
            content: "";
            background: #d4cbc4;
            width: 1px;
            height: 123px;
            position: absolute;
            top: 0px;
            left: -172px;
            @include breakpoint(tablet) {
                display: none;
            }
        }
        
        &:after {
            content: "";
            background: #d4cbc4;
            width: 1px;
            height: 70px;
            position: absolute;
            top: 481px;
            left: -99px;
            @include breakpoint(tablet, mobile) {
                display: none;
            }
        }
        
        @include breakpoint(tablet) {
            left: 301px;
            width: 880px;
            height: 794px;
            overflow: hidden;
        }
        
        @include breakpoint(mobile) {
            height: 370px;
            left: 0;
            
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #b46c92;
                opacity: 0.9;
                display: block;
            }
        }
        
        .navigate-mouse {
            position: absolute;
            left: 70px;
            top: 541px;
            z-index: 12;
            background: url('../images/mouse.png') no-repeat;
            width: 20px;
            height: 52px;
            text-decoration: none;
            
            @include breakpoint(tablet, mobile) {
                display: none;
            }
        }
    }
    
    img {
        width: 100%;
        float: left;
        
        @include breakpoint(tablet) {
            width: 880px;
            height: 794px;
            float: left;
            position: absolute;
            top: -103px;
            left: -172px;
        }
        
        @include breakpoint(mobile) {
            object-fit: none;
            object-position: center;
        }
    }
}

.about-section {
    position: relative;
    width: 100%;
    float: left;
    margin-top: -199px;
    padding-bottom: 50px;
    z-index: 1;
    @include clearfix();
    
    @include breakpoint(mobile, tablet) {
        background: #fbfbfb;
        margin-top: 0px;
        padding-bottom: 86px;

        -webkit-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
        -moz-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
        box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
    }
    
    @include breakpoint(tablet) {
        margin-top: 0px;
        padding-bottom: 75px;
    }
    
    .container {
        padding: 30px 0;
        padding-bottom: 40px;
        
        @include breakpoint(mobile, tablet) {
            padding: 0px;
        }
    }
    
    img.image {
        -webkit-box-shadow: 0px 0px 40px 0px rgba(123,103,77,0.25);
        -moz-box-shadow: 0px 0px 40px 0px rgba(123,103,77,0.25);
        box-shadow: 0px 0px 40px 0px rgba(123,103,77,0.25);
    }
    
    .section-bg {
        background: #fbfbfb;
        position: absolute;
        width: 1000%;
        height: 100%;
        top: 0;
        right: 110px;
        z-index: -5;
        margin: 30px 0;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(123,103,77,0.3);
        -moz-box-shadow: 0px 0px 30px 0px rgba(123,103,77,0.3);
        box-shadow: 0px 0px 30px 0px rgba(123,103,77,0.3);
        
        @include breakpoint(mobile, tablet) {
            display: none;
        }
    }

    .section-title-shadow {
        position: absolute;
        font-size: 300px;
        font-family: 'Great Vibes', cursive;
        line-height: 1.07em;
        color: #f6f6f6;
        z-index: -1;
    }
    
    .aboutOffer {
        color: #b46c92;
        font-size: 14px;
        font-family: 'Aller Bold';
        float: right;
        text-align: right;
        margin-top: 128px;
        margin-right: 0px;
        line-height: 2.6em;
        max-width: 100px;
        
        @include breakpoint(tablet) {
            margin-top: -63px;
            margin-right: 4px;
        }
        
        @include breakpoint(mobile) {
            display: none;
        }
    }
    
    .roomOffer {
        color: #b46c92;
        font-size: 14px;
        font-family: 'Aller Bold';
        float: right;
        margin-top: -62px;
        margin-right: 55px;
        line-height: 2.6em;
        max-width: 180px;
        
        @include breakpoint(tablet) {
            float: left;
            width: 100%;
            margin: 0;
            order: 1;
        }
        
        @include breakpoint(mobile) {
            display: none;
        }
    }
    
    .type1 {
        position: relative;
        width: 100%;
        float: left;
        z-index: 1;
        margin-top: 30px;
        @include clearfix();
        
        @include breakpoint(tablet) {
            margin-top: 0px;
        }
        @include breakpoint(mobile) {
            margin-top: 0px;
        }

        &.first {
            margin-top: 86px;
            z-index: 3;
            
            @include breakpoint(tablet) {
                margin-top: 90px;
            }
            
            .section-title-shadow {
                top: -112px;
                left: 308px; 

                @include breakpoint(tablet) {
                    top: -66px;
                    left: 98px;
                    float: left;
                    width: 800px;
                }

                @include breakpoint(mobile) {
                    top: 222px;
                    left: -118px;
                    width: 600px;
                }
            }
            
            &:before {
                content: "";
                background: #d4cbc4;
                width: 1px;
                height: 172px;
                position: absolute;
                top: -94px;
                left: 120px;
                z-index: -1;
                @include breakpoint(tablet) {
                    top: -129px;
                    left: 55px;
                }
                @include breakpoint(mobile) {
                    top: -46px;
                    left: 50px;
                }
            }
        }
        
        img.image {
            float: left;
            margin-left: 0px;
            margin-right: 31px;
            
            @include breakpoint(tablet) {
                margin-left: 0px;
                margin-top: 24px;
                margin-right: 35px;
            }
            
            @include breakpoint(mobile) {
                float: left;
                margin-left: -30px;
                margin-top: 6px;
            }
        }
        
        .content {
            float: left;
            width: 1013px;
            margin-left: 0px;
            margin-top: 0px;
            padding-left: 60px;
            
            @include breakpoint(tablet) {
                width: 100%;
                margin-left: 0px;
                margin-top: 22px;
                padding-right: 0px;
                padding-left: 0px;
                float: right;
            }
            
            @include breakpoint(mobile) {
                max-width: 100%;
                padding-left: 10px;
                margin-top: 0px;
                margin-left: 0px;
            }
        }
        .section-title {
            margin-left: -60px;
            float: left;
            width: 61%;
            margin-top: 32px;
            margin-bottom: 13px;
            
            @include breakpoint(tablet) {
                margin-left: 0px;
                margin-top: 53px;
                width: 325px;
            }
            
            @include breakpoint(mobile) {
                margin-top: -17px;
                margin-left: 0;
                width: 100%;
                margin-bottom: 8px;
            }
        }
        .section-content {
            margin-top: 13px;
            max-width: 980px;
            
            @include breakpoint(tablet) {
                margin-top: 13px;
                width: 100%;
            }
            
            @include breakpoint(mobile) {
                margin-top: 8px;
            }
        }
        .section-title-shadow {
            top: -112px;
            left: 208px;
            
            @include breakpoint(tablet) {
                top: -66px;
                left: 98px;
                float: left;
                width: 800px;
            }
            
            @include breakpoint(mobile) {
                top: 222px;
                left: -118px;
                width: 600px;
            }
        }
    }
    .type2 {
        position: relative;
        width: 100%;
        float: left;
        margin-top: 102px;
        z-index: 2;
        @include clearfix();
        
        @include breakpoint(tablet) {
            margin-top: 0px;
        }
        
        @include breakpoint(mobile) {
            margin-top: 61px;
        }
        
        .section-title {
            float: left;
            width: 690px;
            padding-right: 20px;
            margin-top: 17px;
            margin-bottom: 18px;
            
            @include breakpoint(tablet) {
                float: left;
                width: 42%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 33px;

                span {
                    float: left;
                    width: 100%;
                    order: 2;
                    margin-top: 65px;
                }
            }

            @include breakpoint(mobile) {
                margin-top: -17px;
                width: 100%;
                margin-bottom: 7px;
            }
        }
        
        img.image {
            float: right;
            margin-right: 60px;
            margin-left: 30px;
            margin-bottom: 30px;
            
            @include breakpoint(tablet) {
                float: right;
                margin-right: 0px;
                margin-top: 158px;
            }

            @include breakpoint(mobile) {
                float: left;
                margin-left: -30px;
                margin-bottom: 0px;
            }
        }
        
        .content {
            float: left;
            width: 100%;
            margin-top: 0px;
            
            @include breakpoint(tablet) {
                width: 100%;
                margin-top: 0px;
                padding-left: 15px;
            }
            
            @include breakpoint(mobile) {
                width: 100%;
                margin-top: 0px;
                padding-left: 10px;
            }
            
            .section-content {
                margin-left: 60px;
                max-width: 980px;

                @include breakpoint(tablet) {
                    margin-left: 0px;
                    margin-top: 13px;
                }
                
                @include breakpoint(mobile) {
                    margin-left: 0px;
                    margin-top: 8px;
                }
            }
            .section-title-shadow {
                top: -28px;
                left: 41px;
                
                @include breakpoint(mobile) {
                    top: 182px;
                    left: -102px;
                }
            }
        }
    }
}

.gallery {
    background: #fef7ec;
    position: relative;
    width: 100%;
    float: left;
    margin-top: -141px;
    padding-top: 232px;
    padding-bottom: 100px;
    @include clearfix();
    
    @include breakpoint(mobile, tablet) {
        margin-top: 0px;
        padding-top: 81px;
        padding-bottom: 67px;
    }
    @include breakpoint(tablet) {
        padding-top: 120px;
        padding-bottom: 60px;
    }
    
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 163px;
        top: 38px;
        background: url('../images/top-gallery-line.png') center no-repeat;
        z-index: 1;
        
        @include breakpoint(tablet) {
            top: -70px;
        }
        
        @include breakpoint(mobile) {
            top: -73px;
        }
    }
    
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 280px;
        bottom: 0px;
        background: url('../images/bottom-gallery-line.png') center no-repeat;
        z-index: 1;
        
        @include breakpoint(tablet) {
            bottom: -100px;
        }
        
        @include breakpoint(mobile) {
            bottom: -85px;
        }
    }
    
    .section-title {
        text-align: center;
        float: left;
        width: 100%;
        
        @include breakpoint(tablet) {
            padding-left: 74px;
        }
        
        @include breakpoint(mobile) {
            text-align: start;
            margin-left: 10px;
        }
    }
    
    .gallery-container {
        float: left;
        width: 101%;
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
        position: relative;
        
        @include breakpoint(tablet) {
            width: 100%;
            margin-top: 37px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
            margin-top: -20px;
        }
        
        .item {
            float: left;
            background: white;
            margin: 0;
            width: 362px;
            transition: all 0.3s;
            
            @include breakpoint(tablet) {
                width: 250px;
            }
            
            @include breakpoint(mobile) {
                width: 100%;
            }

            a {
                float: left;
                padding: 29px;
                background: white;
                width: 100%;
                height: 100%;
                display: none;    
                -webkit-box-shadow: 0px 0px 20px 0px rgba(123,103,77,0.4);
                -moz-box-shadow: 0px 0px 20px 0px rgba(123,103,77,0.4);
                box-shadow: 0px 0px 20px 0px rgba(123,103,77,0.4);
                transition: all 0.3s;
                
                @include breakpoint(tablet) {
                    padding: 20px;
                    
                    img {
                        width: 100%;
                        float: left;
                    }
                }
                
                @include breakpoint(mobile) {
                    padding: 27px;
                    
                    img {
                        width: 100%;
                        float: left;
                    }
                }
                
                &:nth-child(1) {
                    display: block;
                }
            }

            &:nth-child(1n) {
                transform: rotate(-7deg);
                margin-left: 48px;
                margin-top: 39px;
                z-index: 1;
                
                @include breakpoint(mobile, tablet) {
                    transform: rotate(0deg);
                    margin: 0;
                    margin-bottom: 20px;
                }
                
                @include breakpoint(tablet) {
                    margin-right: 9px;
                }
            }

            &:nth-child(2n) {
                transform: rotate(3deg);
                margin-top: 49px;
                margin-left: 27px;
                z-index: 0;
                
                @include breakpoint(mobile, tablet) {
                    transform: rotate(0deg);
                    margin: 0;
                    margin-bottom: 20px;
                }
                @include breakpoint(tablet) {
                    margin-right: 9px;
                }
            }

            &:nth-child(3n) {
                transform: rotate(-8deg);
                margin-top: -22px;
                margin-left: 30px;
                
                @include breakpoint(mobile, tablet) {
                    transform: rotate(0deg);
                    margin: 0;
                    margin-bottom: 20px;
                }
            }
            
            &:hover {
                transform: rotate(0deg);
                z-index: 2;
                
                a {
                    transform: scale(1.1);
                }
            }
            
            .title {
                float: left;
                width: 100%;
                font-size: 48px;
                color: #f09d30;
                font-family: 'Great Vibes', cursive;
                text-align: center;
                padding: 0 10px;
                margin-top: 22px;
                line-height: 0.95em;
                z-index: 1;
                
                @include breakpoint(tablet) {
                    font-size: 34px;
                    color: #b46c92;
                }
                
                @include breakpoint(mobile) {
                    margin-top: 38px;
                    font-size: 42px;
                }
            }
        }
    }
}

.news {
    position: relative;
    width: 100%;
    float: left;
    padding: 45px 0;
    padding-top: 80px;
    @include clearfix();
    
    @include breakpoint(tablet) {
        .container {
            padding: 0 15px;
        }
    }
    
    .section-title {
        @include breakpoint(mobile) {
            float: left;
            width: 100%;
            text-align: center;
        }
    }
    
    .more {
        font-size: 18px;
        font-family: 'Aller Bold';
        text-decoration: underline;
        float: left;
        width: 100%;
        text-align: center;
        
        @include breakpoint(mobile) {
            margin-top: 24px;
        }
        
        &:hover {
            cursor: pointer;
            cursor: hand;
        }
    }

    .list-ajax-loader {
        display: none;
        float: left;
        width: 100%;
        background: url('../images/ajax-loader.gif') center no-repeat;
        height: 55px;
        margin-bottom: 40px;
    }
    
    .news-container {
        width: 107%;
        float: left;
        margin-top: 57px;
        display: flex;
        flex-wrap: wrap;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        display: -moz-flex;
        -moz-flex-wrap: wrap;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        
        @include breakpoint(tablet) {
            width: 100%;
            margin-top: 60px;
            justify-content: space-between;
            -ms-justify-content: space-between;
            -moz-justify-content: space-between;
            -webkit-justify-content: space-between;
            
            &.active {
                .item:nth-child(3) {
                    display: block;
                }
            }
        }
        
        @include breakpoint(mobile) {
            margin-top: 42px;
            width: 100%;
        }
        
        
        .item {
            float: left;
            width: 340px;
            background: white;
            position: relative;
            padding-bottom: 15px;
            margin-bottom: 61px;
            margin-right: 80px;
            
            @include breakpoint(tablet) {
                padding-bottom: 23px;
                margin-bottom: 61px;
                margin-right: 0px;
                
                &:nth-child(3) {
                    display: none;
                }
            }
            
            @include breakpoint(mobile) {
                width: 100%;
                margin-right: 0px;
                padding-bottom: 23px;
                margin-bottom: 30px;
                
                img {
                    width: 100%;
                    float: left;
                }
            }
            
            .news-gallery {
                position: absolute;
                width: 68px;
                height: 110px;
                top: -11px;
                right: 5px;
                background: url('../images/gallery.png') no-repeat;
                font-size: 12px;
                font-family: 'Aller Bold';
                color: white;
                padding-top: 55px;
                padding-left: 14px;
                display: none;
                
                img {
                    display: none;
                }
                
                &:first-child {
                    display: block;
                }
            }


            -webkit-box-shadow: 0px 0px 50px 0px rgba(123, 103, 77, 0.22);
            -moz-box-shadow: 0px 0px 50px 0px rgba(123, 103, 77, 0.22);
            box-shadow: 0px 0px 50px 0px rgba(123, 103, 77, 0.22);
            
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                background: rgba(248, 80, 50, 0);
                background: -moz-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(251, 160, 143, 0) 0%, white 50%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248, 80, 50, 0)), color-stop(0%, rgba(251, 160, 143, 0)), color-stop(50%, white));
                background: -webkit-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(251, 160, 143, 0) 0%, white 50%);
                background: -o-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(251, 160, 143, 0) 0%, white 50%);
                background: -ms-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(251, 160, 143, 0) 0%, white 50%);
                background: linear-gradient(to bottom, rgba(248, 80, 50, 0) 0%, rgba(251, 160, 143, 0) 0%, white 50%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#ffffff', GradientType=0 );
            }
            
            .title {
                z-index: 1;
                position: relative;
                float: left;
                width: 100%;
                color: #b46c92;
                font-size: 18px;
                font-family: 'Aller Bold';
                margin-top: -51px;
                padding-left: 30px;
                
                @include breakpoint(mobile) {
                    margin-top: -38px;
                    padding-left: 25px;
                }
            }
            
            .content {
                z-index: 1;
                position: relative;
                float: left;
                width: 94%;
                padding-left: 30px;
                margin-top: -22px;
                
                @include breakpoint(mobile) {
                    padding-left: 25px;
                    margin-top: -9px;
                }
                
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

.partners {
    position: relative;
    width: 100%;
    float: left;
    padding: 10px 0;
    padding-bottom: 60px;
    @include clearfix();
    
    @include breakpoint(tablet) {
        .container {
            padding: 0 15px;
        }
    }
    
    .section-title {
        margin-top: 19px;
        margin-bottom: 58px;
        
        @include breakpoint(mobile) {
            margin-top: 19px;
            margin-bottom: 58px;
            padding-left: 10px;
        }
    }
    
    .bx-controls {
        display: none;
        
        @include breakpoint(tablet) {
            display: block;
            
            .bx-pager {
                bottom: -60px;
            }
        }
        
        @include breakpoint(mobile) {
            display: block;
            
            .bx-pager {
                bottom: -60px;
            }
        }
    }
    
    .bx-wrapper {
        margin: 0 !important;
        
        @include breakpoint(mobile) {
            width: 200px;
            margin: 0 auto !important;
        }
        
        .bx-pager.bx-default-pager a {
            background: #c2c2c2;
            
            &.active {
                background: #ca6c95;
            }
        }
    }
    
    .partners-img {
        display: flex;
        flex-wrap: wrap;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        display: -moz-flex;
        -moz-flex-wrap: wrap;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        
        @include breakpoint(tablet) {
            li {
                margin-right: 69px !important;
            }
        }
        

        .item {
            float: left;
            width: 200px;
            position: relative;
            height: 100%;
                       
            &:hover {
                img {
                    filter: none;
                    -webkit-filter: grayscale(0%);
                }
            }
            
            img {
                filter: gray;
                -webkit-filter: grayscale(100%);
                transition: all .3s;
            }

            .title {
                font-size: 18px;
                color: #b46c92;
                font-family: 'Aller Bold';
                width: 100%;
                float: left;
                text-align: center;
                padding: 0 10px;
                margin-top: 26px;
                margin-bottom: 26px;

            }
            .link {
                font-size: 14px;
                color: $textColor;
                width: 100%;
                float: left;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                text-decoration: underline;
            }
        }
    }
}

.contact {
    position: relative;
    width: 100%;
    float: left;
    padding: 10px 0;
    padding-top: 76px;
    padding-bottom: 60px;
    z-index: 1;
    overflow: hidden;
    @include clearfix();
    
    @include breakpoint(tablet) {
        padding-bottom: 58px;
        
        .container {
            padding: 0 15px;
        }
    }
    
    @include breakpoint(mobile) {
        padding-bottom: 67px;
    }
    
    .section-title {
        @include breakpoint(mobile) {
            padding-left: 10px;
        }
    }
    
    .navigate {
        font-size: 18px;
        font-family: 'Aller Bold';
        padding-left: 19px;
        position: relative;
        color: $textColor;
        float: left;
        width: 100%;
        text-decoration: underline;
        margin-top: 20px;
        
        @include breakpoint(mobile) {
            width: 90%;
            margin-left: 10px;
        }
        
        &:before {
            content: "";
            position: absolute;
            background: url('../images/nav.png') no-repeat;
            width: 12px;
            height: 19px;
            top: 3px;
            left: 0;
        }
    }
    
    .section-bg {
        background: #fbfbfb;
        position: absolute;
        width: 1000%;
        height: 94%;
        top: 0;
        margin-top: 87px;
        left: 335px;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
        -moz-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
        box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
        transform-style: preserve-3d;
        
        @include breakpoint(tablet) {
            height: 636px;
            top: 24px;
            margin-top: 87px;
            left: 316px;
        }
        
        @include breakpoint(mobile) {
            height: 45%;
            margin-top: 257px;
            left: -1000px;
        }
                
        &:before {
            content: "";
            position: absolute;
            left: -461px;
            bottom: 61px;
            width: 1298px;
            height: 312px;
            background: url('../images/bg-logo.png') no-repeat;
            z-index: -1;
            transform: translateZ(-1em);
            
            @include breakpoint(tablet) {
                left: -494px;
                bottom: -17px;
            }
            
            @include breakpoint(mobile) {
                display: none;
            }
        }
    }
    .contact-info {
        float: left;
        width: 411px;
        z-index: 2;
        position: relative;
        
        @include breakpoint(tablet) {
            width: 280px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
        }

        
        .title {
            float: left;
            width: 70%;
            color: #b46c92;
            font-size: 18px;
            font-family: 'Aller Bold';
            margin-top: 60px;
            line-height: 1.56em;
            
            @include breakpoint(tablet) {
                width: 100%;
            }
            
            @include breakpoint(mobile) {
                padding-left: 10px;
                width: 100%;
                margin-top: 30px;
            }
        }

        .phones {
            float: left;
            width: 107%;
            background: #b46c92;
            color: white;
            font-size: 30px;
            font-family: 'Aller Bold';
            margin-top: 27px;
            padding: 23px 33px;
            
            @include breakpoint(mobile) {
                width: 100%;
                padding: 23px 43px;
            }
        }

        .first-info {
            float: left;
            width: 100%;
            font-size: 18px;
            font-family: 'Aller Bold';
            margin-top: 27px;
            line-height: 1.7em;
            
            @include breakpoint(mobile) {
                padding-left: 10px;
            }
        }
    }
    
    .right-contact {
        float: right;
        width: 769px;
        background: transparent;
        z-index: 1;
        position: relative;
        
        @include breakpoint(tablet) {
            width: 100%;
            background: transparent;
            margin-top: 193px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
            background: transparent;
        }
        
        &:before {
            content: "";
            background: #d4cbc4;
            width: 1px;
            height: 118px;
            position: absolute;
            top: -61px;
            right: 0px;
            z-index: -1;
            @include breakpoint(tablet) {
                height: 96px;
                top: -691px;
                right: 0px;
            }
            @include breakpoint(mobile) {
                display: none;
            }
        }

        #map {
            width: 359px;
            height: 535px;
            float: left;
            margin-top: 65px;
            
            @include breakpoint(tablet) {
                position: absolute !important;
                top: -657px;
                right: 34px;
            }
            
            @include breakpoint(mobile) {
                width: 100%;
                height: 360px;
                margin-top: 43px;
            }
        }
        
        .contact-form {
            float: right;
            width: 360px;
            margin-top: 58px;
            
            @include breakpoint(tablet) {
                width: 100%;
                margin-top: 56px;
            }
            
            @include breakpoint(mobile) {
                width: 100%;
                margin-top: 105px;
                padding: 0 10px;
            }
            
            .form-title {
                font-size: 24px;
                font-family: 'Aller Bold';
                float: left;
                width: 100%;
                margin-bottom: 16px;
                
                @include breakpoint(mobile) {
                    margin-bottom: 24px;
                }
            }
            
            label {
                font-size: 14px;
                font-family: 'Aller Bold';
                margin-bottom: 15px;
            }
            
            .form-control {
                resize: none;
                border: 1px solid #e1e1e1;
                outline: none;
                border-radius: 0px;
                box-shadow: none;
                background: white;
                height: 55px;
                
                &:focus,
                &:hover {
                    border: 1px solid #f09d30;
                }
            }
            
            textarea.form-control {
                height: 230px;
                width: 100%;
            }
            
            .form-group {
                width: 100%;
                float: left;
                padding: 0;
                margin: 0;
                margin-bottom: 13px;
                
                @include breakpoint(tablet) {
                    &.name {
                        width: 360px;
                        float: left
                    }
                    &.email {
                        width: 360px;
                        float: right;
                    }

                }
                
                @include breakpoint(mobile) {
                    margin-bottom: 20px;
                }
            }
            
            .message {
                float: left;
                width: 190px;
                margin-top: 12px;
                
                @include breakpoint(mobile) {
                    width: 100%;
                }
            }
            
            .btn-default {
                float: right;
                width: 165px;
                height: 50px;
                background: #f1a847;
                font-size: 18px;
                font-family: 'Aller Bold';
                color: white;
                border: none;
                outline: none;
                margin-top: 12px;
                border-radius: 30px;
                transition: all .3s;
                text-shadow: none;
                
                @include breakpoint(mobile) {
                    margin-top: 4px;
                }
                
                &:hover {
                    transform: scale(0.90);
                }
            }
        }
    }
}

footer {
    position: relative;
    width: 100%;
    float: left;
    height: 388px;
    background: #f7f7f7;
    margin-top: -52px;
    padding-top: 149px;
    @include clearfix();  
    
    @include breakpoint(tablet) {
        height: 284px;
        background: #f7f7f7;
        margin-top: 0px;
        padding-top: 63px;
        
        .container {
            padding: 0 15px;
        }
    }
    
    .copy {
        font-size: 12px;
        float: left;
        color: #919191;
        width: 90%;
        
        @include breakpoint(tablet) {
            width: 80%;
        }
        
        @include breakpoint(mobile) {
            width: 60%;
            margin-top: 80px;
            padding-left: 10px;
        }
    }
    
    .project {
        font-size: 12px;
        float: left;
        color: #919191;
        margin-top: 11px;
        
        @include breakpoint(mobile) {
            padding-left: 10px;
        }
        
        a {
            margin-left: 7px;
        }
    }
    
    .footer-nav {
        position: relative;
        padding-left: 15px;
        text-decoration: underline;
        float: right;
        color: #919191;
        font-size: 12px;
        
        @include breakpoint(mobile) {
            margin-right: 10px;
            margin-top: 5px;
        }
        
        &:hover {
            cursor: pointer;
            cursor: hand;
        }
        
        &:before {
            content: "";
            width: 8px;
            height: 5px;
            position: absolute;
            left: 2px;
            top: 6px;
            background: url('../images/arrow-up.png') no-repeat;
        }
    }
}


.menu-mobile {
    background: #fef7ec;
    position: fixed;
    display: none;
    z-index: 999999;
    width: 100%;
    bottom: 0;
    top: 0;
    
    .hide-menu {
        background: transparent url(../images/hide-menu.png) no-repeat right top;
        position: absolute;
        cursor: pointer;
        height: 25px;
        width: 25px;
        right: -250px;
        top: 45px;

        @include breakpoint(mobile) {
            right: -45px;
        }
    }
    
    .content {
        position: relative;
        display: table;
        height: 100%;
        margin: 0 auto;
        
        .menu-container {
            vertical-align: middle;
            display: table-cell;
            
            ul {
                list-style: none;
                padding: 0;
                width: 225px;
                
                li {
                    text-align: center;
                    float: none;
                    margin-bottom: 10px;
                    
                    a {
                        color: #f09d30;
                        border: 1px solid #f09d30;
                        border-radius: 30px;
                        display: inline-block;
                        font-size: 18px;
                        margin: 0 auto;
                        padding: 9px 4px;
                        text-decoration: none;
                        text-transform: uppercase;
                        width: 85%;
                        background: transparent;
                        transition: all 0.3s;
                        
                        @include breakpoint(mobile) {
                            font-size: 18px;
                            margin: 0 auto;
                            padding: 7px 4px;
                        }
                        
                        &:hover {
                            background: transparent;
                            color: #7b674d;
                            transform: scale(0.90);
                        }
                    }
                }
            }
        }
    }
}

.section-title-shadow {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}