@font-face {
  font-family: 'Aller';
  src: url("../fonts/Aller-Regular.eot");
  src: url("../fonts/Aller-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller-Regular.woff") format("woff"), url("../fonts/Aller-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Aller Bold';
  src: url("../fonts/Aller-Bold.eot");
  src: url("../fonts/Aller-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller-Bold.woff") format("woff"), url("../fonts/Aller-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Aller';
  font-weight: normal;
  font-size: 14px;
  color: #333333;
  height: auto !important; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0;
  position: relative; }
  .container::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    .container {
      width: 768px; } }
  @media screen and (max-width: 787px) {
    .container {
      width: 320px;
      padding: 0 0px; } }

.desktop {
  display: block; }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    .desktop {
      display: none; } }
  @media screen and (max-width: 787px) {
    .desktop {
      display: none; } }

.tablet {
  display: none; }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    .tablet {
      display: block; } }
  @media screen and (max-width: 787px) {
    .tablet {
      display: none; } }

#index .container .green-color {
  color: #3c763d; }

#index .container .red-color {
  color: #d9534f; }

header {
  width: 100%;
  height: 118px;
  float: left;
  background: white;
  transition: all 0.3s; }
  header .fixed-header {
    width: 100%;
    height: 118px;
    float: left;
    padding-top: 27px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: white;
    transition: all 0.3s; }
    header .fixed-header.shadow {
      height: 100px;
      padding-top: 16px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }
      header .fixed-header.shadow .logo {
        width: 120px;
        margin-top: 6px; }
  header .logo {
    float: left;
    width: 140px;
    transition: all 0.3s; }
    header .logo img {
      width: 100%;
      float: left; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      header .logo {
        margin-left: 15px; } }
    @media screen and (max-width: 787px) {
      header .logo {
        margin-left: 10px; } }
  header .mobile-menu-btn {
    float: right;
    width: 40px;
    height: 22px;
    margin-top: 12px;
    background: url("../images/mobile-menu.png") no-repeat;
    display: none; }
    header .mobile-menu-btn:hover {
      cursor: pointer;
      cursor: hand; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      header .mobile-menu-btn {
        display: block; } }
    @media screen and (max-width: 787px) {
      header .mobile-menu-btn {
        display: block; } }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      header .mobile-menu-btn {
        margin-top: 21px;
        margin-right: 15px; } }
    @media screen and (max-width: 787px) {
      header .mobile-menu-btn {
        margin-top: 20px;
        margin-right: 10px; } }
  header .navbar-default {
    background: transparent;
    background-image: none;
    box-shadow: none;
    border: none;
    border-right: none;
    float: right;
    margin-top: 11px; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      header .navbar-default {
        display: none; } }
    @media screen and (max-width: 787px) {
      header .navbar-default {
        display: none; } }
    header .navbar-default .navbar-nav li a {
      color: #333333;
      font-size: 14px;
      padding: 10px 34px;
      background-color: transparent;
      background: transparent;
      background-image: none;
      box-shadow: none;
      border: none;
      border-right: none;
      font-family: 'Aller Bold'; }
      header .navbar-default .navbar-nav li a.current {
        color: #f09d30; }
      header .navbar-default .navbar-nav li a:hover {
        background-color: transparent;
        background: transparent;
        background-image: none;
        box-shadow: none;
        border: none;
        border-right: none;
        color: #f09d30; }
    header .navbar-default .navbar-nav li.last a {
      padding-right: 0px; }

#index {
  width: 100%;
  overflow-x: hidden; }

.section-title {
  font-family: 'Great Vibes', cursive;
  font-size: 90px;
  color: #7b674d;
  line-height: 1.07em;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 787px) {
    .section-title {
      font-size: 72px; } }

#slider {
  width: 100%;
  float: left; }
  #slider::after {
    display: block;
    content: "";
    clear: both; }
  #slider .slider-title {
    float: left;
    font-size: 130px;
    width: 480px;
    margin-top: 98px; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      #slider .slider-title {
        font-size: 100px;
        width: 360px;
        margin-top: 72px;
        margin-left: 15px; } }
    @media screen and (max-width: 787px) {
      #slider .slider-title {
        font-size: 90px;
        width: 320px;
        margin: 0 auto;
        margin-top: 50px;
        color: white;
        position: absolute;
        left: 0;
        right: 0; } }
  #slider .bx-wrapper {
    height: 795px;
    max-height: 795px;
    width: 1391px !important; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      #slider .bx-wrapper {
        height: 509px !important; } }
    @media screen and (max-width: 787px) {
      #slider .bx-wrapper {
        width: 790px !important;
        height: 370px !important;
        max-height: 370px;
        left: -225px; } }
    #slider .bx-wrapper .bx-viewport {
      height: 795px !important;
      max-height: 795px;
      width: 1391px !important; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        #slider .bx-wrapper .bx-viewport {
          height: 509px !important; } }
      @media screen and (max-width: 787px) {
        #slider .bx-wrapper .bx-viewport {
          width: 790px !important;
          height: 370px !important;
          max-height: 370px; } }
  #slider .slider-img {
    position: absolute;
    top: 0;
    left: 510px;
    width: 880px;
    height: 794px; }
    #slider .slider-img:before {
      content: "";
      background: #d4cbc4;
      width: 1px;
      height: 123px;
      position: absolute;
      top: 0px;
      left: -172px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        #slider .slider-img:before {
          display: none; } }
    #slider .slider-img:after {
      content: "";
      background: #d4cbc4;
      width: 1px;
      height: 70px;
      position: absolute;
      top: 481px;
      left: -99px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        #slider .slider-img:after {
          display: none; } }
      @media screen and (max-width: 787px) {
        #slider .slider-img:after {
          display: none; } }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      #slider .slider-img {
        left: 301px;
        width: 880px;
        height: 794px;
        overflow: hidden; } }
    @media screen and (max-width: 787px) {
      #slider .slider-img {
        height: 370px;
        left: 0; }
        #slider .slider-img:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #b46c92;
          opacity: 0.9;
          display: block; } }
    #slider .slider-img .navigate-mouse {
      position: absolute;
      left: 70px;
      top: 541px;
      z-index: 12;
      background: url("../images/mouse.png") no-repeat;
      width: 20px;
      height: 52px;
      text-decoration: none; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        #slider .slider-img .navigate-mouse {
          display: none; } }
      @media screen and (max-width: 787px) {
        #slider .slider-img .navigate-mouse {
          display: none; } }
  #slider img {
    width: 100%;
    float: left; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      #slider img {
        width: 880px;
        height: 794px;
        float: left;
        position: absolute;
        top: -103px;
        left: -172px; } }
    @media screen and (max-width: 787px) {
      #slider img {
        object-fit: none;
        object-position: center; } }

.about-section {
  position: relative;
  width: 100%;
  float: left;
  margin-top: -199px;
  padding-bottom: 50px;
  z-index: 1; }
  .about-section::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (max-width: 787px) {
    .about-section {
      background: #fbfbfb;
      margin-top: 0px;
      padding-bottom: 86px;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
      -moz-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
      box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3); } }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    .about-section {
      background: #fbfbfb;
      margin-top: 0px;
      padding-bottom: 86px;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
      -moz-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
      box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3); } }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    .about-section {
      margin-top: 0px;
      padding-bottom: 75px; } }
  .about-section .container {
    padding: 30px 0;
    padding-bottom: 40px; }
    @media screen and (max-width: 787px) {
      .about-section .container {
        padding: 0px; } }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .about-section .container {
        padding: 0px; } }
  .about-section img.image {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(123, 103, 77, 0.25);
    -moz-box-shadow: 0px 0px 40px 0px rgba(123, 103, 77, 0.25);
    box-shadow: 0px 0px 40px 0px rgba(123, 103, 77, 0.25); }
  .about-section .section-bg {
    background: #fbfbfb;
    position: absolute;
    width: 1000%;
    height: 100%;
    top: 0;
    right: 110px;
    z-index: -5;
    margin: 30px 0;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3); }
    @media screen and (max-width: 787px) {
      .about-section .section-bg {
        display: none; } }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .about-section .section-bg {
        display: none; } }
  .about-section .section-title-shadow {
    position: absolute;
    font-size: 300px;
    font-family: 'Great Vibes', cursive;
    line-height: 1.07em;
    color: #f6f6f6;
    z-index: -1; }
  .about-section .aboutOffer {
    color: #b46c92;
    font-size: 14px;
    font-family: 'Aller Bold';
    float: right;
    text-align: right;
    margin-top: 128px;
    margin-right: 0px;
    line-height: 2.6em;
    max-width: 100px; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .about-section .aboutOffer {
        margin-top: -63px;
        margin-right: 4px; } }
    @media screen and (max-width: 787px) {
      .about-section .aboutOffer {
        display: none; } }
  .about-section .roomOffer {
    color: #b46c92;
    font-size: 14px;
    font-family: 'Aller Bold';
    float: right;
    margin-top: -62px;
    margin-right: 55px;
    line-height: 2.6em;
    max-width: 180px; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .about-section .roomOffer {
        float: left;
        width: 100%;
        margin: 0;
        order: 1; } }
    @media screen and (max-width: 787px) {
      .about-section .roomOffer {
        display: none; } }
  .about-section .type1 {
    position: relative;
    width: 100%;
    float: left;
    z-index: 1;
    margin-top: 30px; }
    .about-section .type1::after {
      display: block;
      content: "";
      clear: both; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .about-section .type1 {
        margin-top: 0px; } }
    @media screen and (max-width: 787px) {
      .about-section .type1 {
        margin-top: 0px; } }
    .about-section .type1.first {
      margin-top: 86px;
      z-index: 3; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .about-section .type1.first {
          margin-top: 90px; } }
      .about-section .type1.first .section-title-shadow {
        top: -112px;
        left: 308px; }
        @media screen and (min-width: 788px) and (max-width: 1200px) {
          .about-section .type1.first .section-title-shadow {
            top: -66px;
            left: 98px;
            float: left;
            width: 800px; } }
        @media screen and (max-width: 787px) {
          .about-section .type1.first .section-title-shadow {
            top: 222px;
            left: -118px;
            width: 600px; } }
      .about-section .type1.first:before {
        content: "";
        background: #d4cbc4;
        width: 1px;
        height: 172px;
        position: absolute;
        top: -94px;
        left: 120px;
        z-index: -1; }
        @media screen and (min-width: 788px) and (max-width: 1200px) {
          .about-section .type1.first:before {
            top: -129px;
            left: 55px; } }
        @media screen and (max-width: 787px) {
          .about-section .type1.first:before {
            top: -46px;
            left: 50px; } }
    .about-section .type1 img.image {
      float: left;
      margin-left: 0px;
      margin-right: 31px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .about-section .type1 img.image {
          margin-left: 0px;
          margin-top: 24px;
          margin-right: 35px; } }
      @media screen and (max-width: 787px) {
        .about-section .type1 img.image {
          float: left;
          margin-left: -30px;
          margin-top: 6px; } }
    .about-section .type1 .content {
      float: left;
      width: 1013px;
      margin-left: 0px;
      margin-top: 0px;
      padding-left: 60px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .about-section .type1 .content {
          width: 100%;
          margin-left: 0px;
          margin-top: 22px;
          padding-right: 0px;
          padding-left: 0px;
          float: right; } }
      @media screen and (max-width: 787px) {
        .about-section .type1 .content {
          max-width: 100%;
          padding-left: 10px;
          margin-top: 0px;
          margin-left: 0px; } }
    .about-section .type1 .section-title {
      margin-left: -60px;
      float: left;
      width: 61%;
      margin-top: 32px;
      margin-bottom: 13px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .about-section .type1 .section-title {
          margin-left: 0px;
          margin-top: 53px;
          width: 325px; } }
      @media screen and (max-width: 787px) {
        .about-section .type1 .section-title {
          margin-top: -17px;
          margin-left: 0;
          width: 100%;
          margin-bottom: 8px; } }
    .about-section .type1 .section-content {
      margin-top: 13px;
      max-width: 980px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .about-section .type1 .section-content {
          margin-top: 13px;
          width: 100%; } }
      @media screen and (max-width: 787px) {
        .about-section .type1 .section-content {
          margin-top: 8px; } }
    .about-section .type1 .section-title-shadow {
      top: -112px;
      left: 208px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .about-section .type1 .section-title-shadow {
          top: -66px;
          left: 98px;
          float: left;
          width: 800px; } }
      @media screen and (max-width: 787px) {
        .about-section .type1 .section-title-shadow {
          top: 222px;
          left: -118px;
          width: 600px; } }
  .about-section .type2 {
    position: relative;
    width: 100%;
    float: left;
    margin-top: 102px;
    z-index: 2; }
    .about-section .type2::after {
      display: block;
      content: "";
      clear: both; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .about-section .type2 {
        margin-top: 0px; } }
    @media screen and (max-width: 787px) {
      .about-section .type2 {
        margin-top: 61px; } }
    .about-section .type2 .section-title {
      float: left;
      width: 690px;
      padding-right: 20px;
      margin-top: 17px;
      margin-bottom: 18px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .about-section .type2 .section-title {
          float: left;
          width: 42%;
          display: flex;
          flex-wrap: wrap;
          margin-top: 33px; }
          .about-section .type2 .section-title span {
            float: left;
            width: 100%;
            order: 2;
            margin-top: 65px; } }
      @media screen and (max-width: 787px) {
        .about-section .type2 .section-title {
          margin-top: -17px;
          width: 100%;
          margin-bottom: 7px; } }
    .about-section .type2 img.image {
      float: right;
      margin-right: 60px;
      margin-left: 30px;
      margin-bottom: 30px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .about-section .type2 img.image {
          float: right;
          margin-right: 0px;
          margin-top: 158px; } }
      @media screen and (max-width: 787px) {
        .about-section .type2 img.image {
          float: left;
          margin-left: -30px;
          margin-bottom: 0px; } }
    .about-section .type2 .content {
      float: left;
      width: 100%;
      margin-top: 0px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .about-section .type2 .content {
          width: 100%;
          margin-top: 0px;
          padding-left: 15px; } }
      @media screen and (max-width: 787px) {
        .about-section .type2 .content {
          width: 100%;
          margin-top: 0px;
          padding-left: 10px; } }
      .about-section .type2 .content .section-content {
        margin-left: 60px;
        max-width: 980px; }
        @media screen and (min-width: 788px) and (max-width: 1200px) {
          .about-section .type2 .content .section-content {
            margin-left: 0px;
            margin-top: 13px; } }
        @media screen and (max-width: 787px) {
          .about-section .type2 .content .section-content {
            margin-left: 0px;
            margin-top: 8px; } }
      .about-section .type2 .content .section-title-shadow {
        top: -28px;
        left: 41px; }
        @media screen and (max-width: 787px) {
          .about-section .type2 .content .section-title-shadow {
            top: 182px;
            left: -102px; } }

.gallery {
  background: #fef7ec;
  position: relative;
  width: 100%;
  float: left;
  margin-top: -141px;
  padding-top: 232px;
  padding-bottom: 100px; }
  .gallery::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (max-width: 787px) {
    .gallery {
      margin-top: 0px;
      padding-top: 81px;
      padding-bottom: 67px; } }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    .gallery {
      margin-top: 0px;
      padding-top: 81px;
      padding-bottom: 67px; } }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    .gallery {
      padding-top: 120px;
      padding-bottom: 60px; } }
  .gallery:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 163px;
    top: 38px;
    background: url("../images/top-gallery-line.png") center no-repeat;
    z-index: 1; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .gallery:before {
        top: -70px; } }
    @media screen and (max-width: 787px) {
      .gallery:before {
        top: -73px; } }
  .gallery:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 280px;
    bottom: 0px;
    background: url("../images/bottom-gallery-line.png") center no-repeat;
    z-index: 1; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .gallery:after {
        bottom: -100px; } }
    @media screen and (max-width: 787px) {
      .gallery:after {
        bottom: -85px; } }
  .gallery .section-title {
    text-align: center;
    float: left;
    width: 100%; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .gallery .section-title {
        padding-left: 74px; } }
    @media screen and (max-width: 787px) {
      .gallery .section-title {
        text-align: start;
        margin-left: 10px; } }
  .gallery .gallery-container {
    float: left;
    width: 101%;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    position: relative; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .gallery .gallery-container {
        width: 100%;
        margin-top: 37px; } }
    @media screen and (max-width: 787px) {
      .gallery .gallery-container {
        width: 100%;
        margin-top: -20px; } }
    .gallery .gallery-container .item {
      float: left;
      background: white;
      margin: 0;
      width: 362px;
      transition: all 0.3s; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .gallery .gallery-container .item {
          width: 250px; } }
      @media screen and (max-width: 787px) {
        .gallery .gallery-container .item {
          width: 100%; } }
      .gallery .gallery-container .item a {
        float: left;
        padding: 29px;
        background: white;
        width: 100%;
        height: 100%;
        display: none;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(123, 103, 77, 0.4);
        -moz-box-shadow: 0px 0px 20px 0px rgba(123, 103, 77, 0.4);
        box-shadow: 0px 0px 20px 0px rgba(123, 103, 77, 0.4);
        transition: all 0.3s; }
        @media screen and (min-width: 788px) and (max-width: 1200px) {
          .gallery .gallery-container .item a {
            padding: 20px; }
            .gallery .gallery-container .item a img {
              width: 100%;
              float: left; } }
        @media screen and (max-width: 787px) {
          .gallery .gallery-container .item a {
            padding: 27px; }
            .gallery .gallery-container .item a img {
              width: 100%;
              float: left; } }
        .gallery .gallery-container .item a:nth-child(1) {
          display: block; }
      .gallery .gallery-container .item:nth-child(1n) {
        transform: rotate(-7deg);
        margin-left: 48px;
        margin-top: 39px;
        z-index: 1; }
        @media screen and (max-width: 787px) {
          .gallery .gallery-container .item:nth-child(1n) {
            transform: rotate(0deg);
            margin: 0;
            margin-bottom: 20px; } }
        @media screen and (min-width: 788px) and (max-width: 1200px) {
          .gallery .gallery-container .item:nth-child(1n) {
            transform: rotate(0deg);
            margin: 0;
            margin-bottom: 20px; } }
        @media screen and (min-width: 788px) and (max-width: 1200px) {
          .gallery .gallery-container .item:nth-child(1n) {
            margin-right: 9px; } }
      .gallery .gallery-container .item:nth-child(2n) {
        transform: rotate(3deg);
        margin-top: 49px;
        margin-left: 27px;
        z-index: 0; }
        @media screen and (max-width: 787px) {
          .gallery .gallery-container .item:nth-child(2n) {
            transform: rotate(0deg);
            margin: 0;
            margin-bottom: 20px; } }
        @media screen and (min-width: 788px) and (max-width: 1200px) {
          .gallery .gallery-container .item:nth-child(2n) {
            transform: rotate(0deg);
            margin: 0;
            margin-bottom: 20px; } }
        @media screen and (min-width: 788px) and (max-width: 1200px) {
          .gallery .gallery-container .item:nth-child(2n) {
            margin-right: 9px; } }
      .gallery .gallery-container .item:nth-child(3n) {
        transform: rotate(-8deg);
        margin-top: -22px;
        margin-left: 30px; }
        @media screen and (max-width: 787px) {
          .gallery .gallery-container .item:nth-child(3n) {
            transform: rotate(0deg);
            margin: 0;
            margin-bottom: 20px; } }
        @media screen and (min-width: 788px) and (max-width: 1200px) {
          .gallery .gallery-container .item:nth-child(3n) {
            transform: rotate(0deg);
            margin: 0;
            margin-bottom: 20px; } }
      .gallery .gallery-container .item:hover {
        transform: rotate(0deg);
        z-index: 2; }
        .gallery .gallery-container .item:hover a {
          transform: scale(1.1); }
      .gallery .gallery-container .item .title {
        float: left;
        width: 100%;
        font-size: 48px;
        color: #f09d30;
        font-family: 'Great Vibes', cursive;
        text-align: center;
        padding: 0 10px;
        margin-top: 22px;
        line-height: 0.95em;
        z-index: 1; }
        @media screen and (min-width: 788px) and (max-width: 1200px) {
          .gallery .gallery-container .item .title {
            font-size: 34px;
            color: #b46c92; } }
        @media screen and (max-width: 787px) {
          .gallery .gallery-container .item .title {
            margin-top: 38px;
            font-size: 42px; } }

.news {
  position: relative;
  width: 100%;
  float: left;
  padding: 45px 0;
  padding-top: 80px; }
  .news::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    .news .container {
      padding: 0 15px; } }
  @media screen and (max-width: 787px) {
    .news .section-title {
      float: left;
      width: 100%;
      text-align: center; } }
  .news .more {
    font-size: 18px;
    font-family: 'Aller Bold';
    text-decoration: underline;
    float: left;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 787px) {
      .news .more {
        margin-top: 24px; } }
    .news .more:hover {
      cursor: pointer;
      cursor: hand; }
  .news .list-ajax-loader {
    display: none;
    float: left;
    width: 100%;
    background: url("../images/ajax-loader.gif") center no-repeat;
    height: 55px;
    margin-bottom: 40px; }
  .news .news-container {
    width: 107%;
    float: left;
    margin-top: 57px;
    display: flex;
    flex-wrap: wrap;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    display: -moz-flex;
    -moz-flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .news .news-container {
        width: 100%;
        margin-top: 60px;
        justify-content: space-between;
        -ms-justify-content: space-between;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between; }
        .news .news-container.active .item:nth-child(3) {
          display: block; } }
    @media screen and (max-width: 787px) {
      .news .news-container {
        margin-top: 42px;
        width: 100%; } }
    .news .news-container .item {
      float: left;
      width: 340px;
      background: white;
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 61px;
      margin-right: 80px;
      -webkit-box-shadow: 0px 0px 50px 0px rgba(123, 103, 77, 0.22);
      -moz-box-shadow: 0px 0px 50px 0px rgba(123, 103, 77, 0.22);
      box-shadow: 0px 0px 50px 0px rgba(123, 103, 77, 0.22); }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .news .news-container .item {
          padding-bottom: 23px;
          margin-bottom: 61px;
          margin-right: 0px; }
          .news .news-container .item:nth-child(3) {
            display: none; } }
      @media screen and (max-width: 787px) {
        .news .news-container .item {
          width: 100%;
          margin-right: 0px;
          padding-bottom: 23px;
          margin-bottom: 30px; }
          .news .news-container .item img {
            width: 100%;
            float: left; } }
      .news .news-container .item .news-gallery {
        position: absolute;
        width: 68px;
        height: 110px;
        top: -11px;
        right: 5px;
        background: url("../images/gallery.png") no-repeat;
        font-size: 12px;
        font-family: 'Aller Bold';
        color: white;
        padding-top: 55px;
        padding-left: 14px;
        display: none; }
        .news .news-container .item .news-gallery img {
          display: none; }
        .news .news-container .item .news-gallery:first-child {
          display: block; }
      .news .news-container .item:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgba(248, 80, 50, 0);
        background: -moz-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(251, 160, 143, 0) 0%, white 50%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248, 80, 50, 0)), color-stop(0%, rgba(251, 160, 143, 0)), color-stop(50%, white));
        background: -webkit-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(251, 160, 143, 0) 0%, white 50%);
        background: -o-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(251, 160, 143, 0) 0%, white 50%);
        background: -ms-linear-gradient(top, rgba(248, 80, 50, 0) 0%, rgba(251, 160, 143, 0) 0%, white 50%);
        background: linear-gradient(to bottom, rgba(248, 80, 50, 0) 0%, rgba(251, 160, 143, 0) 0%, white 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#ffffff', GradientType=0 ); }
      .news .news-container .item .title {
        z-index: 1;
        position: relative;
        float: left;
        width: 100%;
        color: #b46c92;
        font-size: 18px;
        font-family: 'Aller Bold';
        margin-top: -51px;
        padding-left: 30px; }
        @media screen and (max-width: 787px) {
          .news .news-container .item .title {
            margin-top: -38px;
            padding-left: 25px; } }
      .news .news-container .item .content {
        z-index: 1;
        position: relative;
        float: left;
        width: 94%;
        padding-left: 30px;
        margin-top: -22px; }
        @media screen and (max-width: 787px) {
          .news .news-container .item .content {
            padding-left: 25px;
            margin-top: -9px; } }
        .news .news-container .item .content p {
          font-size: 14px; }

.partners {
  position: relative;
  width: 100%;
  float: left;
  padding: 10px 0;
  padding-bottom: 60px; }
  .partners::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    .partners .container {
      padding: 0 15px; } }
  .partners .section-title {
    margin-top: 19px;
    margin-bottom: 58px; }
    @media screen and (max-width: 787px) {
      .partners .section-title {
        margin-top: 19px;
        margin-bottom: 58px;
        padding-left: 10px; } }
  .partners .bx-controls {
    display: none; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .partners .bx-controls {
        display: block; }
        .partners .bx-controls .bx-pager {
          bottom: -60px; } }
    @media screen and (max-width: 787px) {
      .partners .bx-controls {
        display: block; }
        .partners .bx-controls .bx-pager {
          bottom: -60px; } }
  .partners .bx-wrapper {
    margin: 0 !important; }
    @media screen and (max-width: 787px) {
      .partners .bx-wrapper {
        width: 200px;
        margin: 0 auto !important; } }
    .partners .bx-wrapper .bx-pager.bx-default-pager a {
      background: #c2c2c2; }
      .partners .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #ca6c95; }
  .partners .partners-img {
    display: flex;
    flex-wrap: wrap;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    display: -moz-flex;
    -moz-flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .partners .partners-img li {
        margin-right: 69px !important; } }
    .partners .partners-img .item {
      float: left;
      width: 200px;
      position: relative;
      height: 100%; }
      .partners .partners-img .item:hover img {
        filter: none;
        -webkit-filter: grayscale(0%); }
      .partners .partners-img .item img {
        filter: gray;
        -webkit-filter: grayscale(100%);
        transition: all .3s; }
      .partners .partners-img .item .title {
        font-size: 18px;
        color: #b46c92;
        font-family: 'Aller Bold';
        width: 100%;
        float: left;
        text-align: center;
        padding: 0 10px;
        margin-top: 26px;
        margin-bottom: 26px; }
      .partners .partners-img .item .link {
        font-size: 14px;
        color: #333333;
        width: 100%;
        float: left;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        text-decoration: underline; }

.contact {
  position: relative;
  width: 100%;
  float: left;
  padding: 10px 0;
  padding-top: 76px;
  padding-bottom: 60px;
  z-index: 1;
  overflow: hidden; }
  .contact::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    .contact {
      padding-bottom: 58px; }
      .contact .container {
        padding: 0 15px; } }
  @media screen and (max-width: 787px) {
    .contact {
      padding-bottom: 67px; } }
  @media screen and (max-width: 787px) {
    .contact .section-title {
      padding-left: 10px; } }
  .contact .navigate {
    font-size: 18px;
    font-family: 'Aller Bold';
    padding-left: 19px;
    position: relative;
    color: #333333;
    float: left;
    width: 100%;
    text-decoration: underline;
    margin-top: 20px; }
    @media screen and (max-width: 787px) {
      .contact .navigate {
        width: 90%;
        margin-left: 10px; } }
    .contact .navigate:before {
      content: "";
      position: absolute;
      background: url("../images/nav.png") no-repeat;
      width: 12px;
      height: 19px;
      top: 3px;
      left: 0; }
  .contact .section-bg {
    background: #fbfbfb;
    position: absolute;
    width: 1000%;
    height: 94%;
    top: 0;
    margin-top: 87px;
    left: 335px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(123, 103, 77, 0.3);
    transform-style: preserve-3d; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .contact .section-bg {
        height: 636px;
        top: 24px;
        margin-top: 87px;
        left: 316px; } }
    @media screen and (max-width: 787px) {
      .contact .section-bg {
        height: 45%;
        margin-top: 257px;
        left: -1000px; } }
    .contact .section-bg:before {
      content: "";
      position: absolute;
      left: -461px;
      bottom: 61px;
      width: 1298px;
      height: 312px;
      background: url("../images/bg-logo.png") no-repeat;
      z-index: -1;
      transform: translateZ(-1em); }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .contact .section-bg:before {
          left: -494px;
          bottom: -17px; } }
      @media screen and (max-width: 787px) {
        .contact .section-bg:before {
          display: none; } }
  .contact .contact-info {
    float: left;
    width: 411px;
    z-index: 2;
    position: relative; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .contact .contact-info {
        width: 280px; } }
    @media screen and (max-width: 787px) {
      .contact .contact-info {
        width: 100%; } }
    .contact .contact-info .title {
      float: left;
      width: 70%;
      color: #b46c92;
      font-size: 18px;
      font-family: 'Aller Bold';
      margin-top: 60px;
      line-height: 1.56em; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .contact .contact-info .title {
          width: 100%; } }
      @media screen and (max-width: 787px) {
        .contact .contact-info .title {
          padding-left: 10px;
          width: 100%;
          margin-top: 30px; } }
    .contact .contact-info .phones {
      float: left;
      width: 107%;
      background: #b46c92;
      color: white;
      font-size: 30px;
      font-family: 'Aller Bold';
      margin-top: 27px;
      padding: 23px 33px; }
      @media screen and (max-width: 787px) {
        .contact .contact-info .phones {
          width: 100%;
          padding: 23px 43px; } }
    .contact .contact-info .first-info {
      float: left;
      width: 100%;
      font-size: 18px;
      font-family: 'Aller Bold';
      margin-top: 27px;
      line-height: 1.7em; }
      @media screen and (max-width: 787px) {
        .contact .contact-info .first-info {
          padding-left: 10px; } }
  .contact .right-contact {
    float: right;
    width: 769px;
    background: transparent;
    z-index: 1;
    position: relative; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      .contact .right-contact {
        width: 100%;
        background: transparent;
        margin-top: 193px; } }
    @media screen and (max-width: 787px) {
      .contact .right-contact {
        width: 100%;
        background: transparent; } }
    .contact .right-contact:before {
      content: "";
      background: #d4cbc4;
      width: 1px;
      height: 118px;
      position: absolute;
      top: -61px;
      right: 0px;
      z-index: -1; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .contact .right-contact:before {
          height: 96px;
          top: -691px;
          right: 0px; } }
      @media screen and (max-width: 787px) {
        .contact .right-contact:before {
          display: none; } }
    .contact .right-contact #map {
      width: 359px;
      height: 535px;
      float: left;
      margin-top: 65px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .contact .right-contact #map {
          position: absolute !important;
          top: -657px;
          right: 34px; } }
      @media screen and (max-width: 787px) {
        .contact .right-contact #map {
          width: 100%;
          height: 360px;
          margin-top: 43px; } }
    .contact .right-contact .contact-form {
      float: right;
      width: 360px;
      margin-top: 58px; }
      @media screen and (min-width: 788px) and (max-width: 1200px) {
        .contact .right-contact .contact-form {
          width: 100%;
          margin-top: 56px; } }
      @media screen and (max-width: 787px) {
        .contact .right-contact .contact-form {
          width: 100%;
          margin-top: 105px;
          padding: 0 10px; } }
      .contact .right-contact .contact-form .form-title {
        font-size: 24px;
        font-family: 'Aller Bold';
        float: left;
        width: 100%;
        margin-bottom: 16px; }
        @media screen and (max-width: 787px) {
          .contact .right-contact .contact-form .form-title {
            margin-bottom: 24px; } }
      .contact .right-contact .contact-form label {
        font-size: 14px;
        font-family: 'Aller Bold';
        margin-bottom: 15px; }
      .contact .right-contact .contact-form .form-control {
        resize: none;
        border: 1px solid #e1e1e1;
        outline: none;
        border-radius: 0px;
        box-shadow: none;
        background: white;
        height: 55px; }
        .contact .right-contact .contact-form .form-control:focus, .contact .right-contact .contact-form .form-control:hover {
          border: 1px solid #f09d30; }
      .contact .right-contact .contact-form textarea.form-control {
        height: 230px;
        width: 100%; }
      .contact .right-contact .contact-form .form-group {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
        margin-bottom: 13px; }
        @media screen and (min-width: 788px) and (max-width: 1200px) {
          .contact .right-contact .contact-form .form-group.name {
            width: 360px;
            float: left; }
          .contact .right-contact .contact-form .form-group.email {
            width: 360px;
            float: right; } }
        @media screen and (max-width: 787px) {
          .contact .right-contact .contact-form .form-group {
            margin-bottom: 20px; } }
      .contact .right-contact .contact-form .message {
        float: left;
        width: 190px;
        margin-top: 12px; }
        @media screen and (max-width: 787px) {
          .contact .right-contact .contact-form .message {
            width: 100%; } }
      .contact .right-contact .contact-form .btn-default {
        float: right;
        width: 165px;
        height: 50px;
        background: #f1a847;
        font-size: 18px;
        font-family: 'Aller Bold';
        color: white;
        border: none;
        outline: none;
        margin-top: 12px;
        border-radius: 30px;
        transition: all .3s;
        text-shadow: none; }
        @media screen and (max-width: 787px) {
          .contact .right-contact .contact-form .btn-default {
            margin-top: 4px; } }
        .contact .right-contact .contact-form .btn-default:hover {
          transform: scale(0.9); }

footer {
  position: relative;
  width: 100%;
  float: left;
  height: 388px;
  background: #f7f7f7;
  margin-top: -52px;
  padding-top: 149px; }
  footer::after {
    display: block;
    content: "";
    clear: both; }
  @media screen and (min-width: 788px) and (max-width: 1200px) {
    footer {
      height: 284px;
      background: #f7f7f7;
      margin-top: 0px;
      padding-top: 63px; }
      footer .container {
        padding: 0 15px; } }
  footer .copy {
    font-size: 12px;
    float: left;
    color: #919191;
    width: 90%; }
    @media screen and (min-width: 788px) and (max-width: 1200px) {
      footer .copy {
        width: 80%; } }
    @media screen and (max-width: 787px) {
      footer .copy {
        width: 60%;
        margin-top: 80px;
        padding-left: 10px; } }
  footer .project {
    font-size: 12px;
    float: left;
    color: #919191;
    margin-top: 11px; }
    @media screen and (max-width: 787px) {
      footer .project {
        padding-left: 10px; } }
    footer .project a {
      margin-left: 7px; }
  footer .footer-nav {
    position: relative;
    padding-left: 15px;
    text-decoration: underline;
    float: right;
    color: #919191;
    font-size: 12px; }
    @media screen and (max-width: 787px) {
      footer .footer-nav {
        margin-right: 10px;
        margin-top: 5px; } }
    footer .footer-nav:hover {
      cursor: pointer;
      cursor: hand; }
    footer .footer-nav:before {
      content: "";
      width: 8px;
      height: 5px;
      position: absolute;
      left: 2px;
      top: 6px;
      background: url("../images/arrow-up.png") no-repeat; }

.menu-mobile {
  background: #fef7ec;
  position: fixed;
  display: none;
  z-index: 999999;
  width: 100%;
  bottom: 0;
  top: 0; }
  .menu-mobile .hide-menu {
    background: transparent url(../images/hide-menu.png) no-repeat right top;
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 25px;
    right: -250px;
    top: 45px; }
    @media screen and (max-width: 787px) {
      .menu-mobile .hide-menu {
        right: -45px; } }
  .menu-mobile .content {
    position: relative;
    display: table;
    height: 100%;
    margin: 0 auto; }
    .menu-mobile .content .menu-container {
      vertical-align: middle;
      display: table-cell; }
      .menu-mobile .content .menu-container ul {
        list-style: none;
        padding: 0;
        width: 225px; }
        .menu-mobile .content .menu-container ul li {
          text-align: center;
          float: none;
          margin-bottom: 10px; }
          .menu-mobile .content .menu-container ul li a {
            color: #f09d30;
            border: 1px solid #f09d30;
            border-radius: 30px;
            display: inline-block;
            font-size: 18px;
            margin: 0 auto;
            padding: 9px 4px;
            text-decoration: none;
            text-transform: uppercase;
            width: 85%;
            background: transparent;
            transition: all 0.3s; }
            @media screen and (max-width: 787px) {
              .menu-mobile .content .menu-container ul li a {
                font-size: 18px;
                margin: 0 auto;
                padding: 7px 4px; } }
            .menu-mobile .content .menu-container ul li a:hover {
              background: transparent;
              color: #7b674d;
              transform: scale(0.9); }

.section-title-shadow {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none; }

/*# sourceMappingURL=style.css.map */
