{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

{% set LatLng = cms_config.get('google_map','')|split(',') %}
{% set latitude = LatLng[0] %}
{% set longitude = LatLng[1] %}

<div class="section-title">Kontakt</div>
<div class="contact-info">
    <div class="title">Wszystkich zainteresowanych prosimy o kontakt telefoniczny.</div>
    <div class="phones">
        {{ cms_config.get('contact_phones', '')|nl2br|raw }}
    </div>
    <div class="first-info">
        {{ cms_config.get('contact_info', '')|nl2br|raw }}
    </div>
    <a class="navigate" target="_blank" href="https://www.google.pl/maps/search/@{{latitude}},{{longitude}},17z/{{latitude}},{{longitude}}">Nawiguj do celu</a>
</div>
<div class="right-contact">
    <div id="map"></div>
    <div class="contact-form">
        <div class="form-title">Formularz kontaktowy</div>
        {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
        <div class="form-group name">
            {{ form_label(form.name, null, {'label_attr': {'class': 'control-label' }}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="form-group email">
            {{ form_label(form.email, null, {'label_attr': {'class': 'control-label' }}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.content, null, {'label_attr': {'class': 'control-label' }}) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control textarea' }}) }}
        </div>
        {#{{ form_row(form.google_recaptcha, {'attr': {'class': 'g-recaptcha' }}) }}#}
        <div class="form-group submit-btn">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default' }}) }}
            <div class="message"></div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
        
<script type="text/javascript">
function initMap() {
        
    var myLatLng = new google.maps.LatLng( {{latitude}}, {{longitude}} );
    var markerLatLng = myLatLng;

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        mapTypeControl: true,
        scrollwheel: true,
        zoom: 16,
        streetViewControl: false,
        mapTypeControl: false,
        zoomControl: true,
        scrollwheel: false,

    });

    var marker = new google.maps.Marker({
        map: map,
        position: markerLatLng,
        animation: google.maps.Animation.BOUNCE,
    });
    
    $('ul.nav-tabs').on('shown.bs.tab', function (e) {
      // Trigger map resize when tab is shown
        google.maps.event.trigger(map, "resize");
        map.setCenter(new google.maps.LatLng( {{ latitude }}, {{ longitude }}));
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBfPsmLykq60hk6eS_etC-_Uh-X7qHe5Y&callback=initMap" async defer></script>